name: Build-openwrt
on:
  workflow_dispatch:
    inputs:
      devtype:
        description: 'dev'
        default: '7800'
        required: true
        type: choice
        options:
        - '7688'
        - 'mimini'
        - 'k3'
        - '7800'
        - 'dir505'
        - '58u'
      token:
        description: 'token'
        required: true
      repository:
        description: 'repository'
        default: 'kukutt/ipt'
        required: true
      buildpath:
        description: 'buildpath'
        default: 'usefull/openwrt/'
        required: true
        
jobs:
  run:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        repository: ${{ github.event.inputs.repository }}
        token: ${{ github.event.inputs.token }}
    - name: LS
      run: ls -l ./
    - name: Build-${{ github.event.inputs.devtype }}
      run: pushd ./${{ github.event.inputs.buildpath }} ; ./autobuild.sh ${{ github.event.inputs.devtype }}; popd
    - name: Upload artifact
      uses: actions/upload-artifact@master
      with:
        name: outfile-${{ github.event.inputs.devtype }}
        path: ./${{ github.event.inputs.buildpath }}/output
